<section>
    <div class="container">
        <div class="row">
            <div class="card text-white bg-secondary mb-3 col-lg-4" style="max-width: 18rem; height:20rem;">
                <div class="card-body">
                    <h5 class="card-title">{{{cards.title}}}</h5>
                    <p class="card-text">{{{cards.text}}}</p>
                    <div class="card-options">
                        <ul>
                            <li>{{{cards.option}}}</li>
                            <li>{{{cards.option}}}</li>
                            <li>{{{cards.option}}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card text-white bg-warning mb-3 col-lg-4" style="max-width: 18rem; height:20rem;">
                <div class="card-body">
                    <h5 class="card-title">{{{cards.title}}}</h5>
                    <p class="card-text">{{{cards.text}}}</p>
                    <div class="card-options">
                        <ul>
                            <li>{{{cards.option}}}</li>
                            <li>{{{cards.option}}}</li>
                            <li>{{{cards.option}}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card text-white bg-danger mb-3 col-lg-4" style="max-width: 18rem; height:20rem;">
                <div class="card-body">
                    <h5 class="card-title">{{{cards.title}}}</h5>
                    <p class="card-text">{{{cards.text}}}</p>
                    <div class="card-options">
                        <ul>
                            <li>{{{cards.option}}}</li>
                            <li>{{{cards.option}}}</li>
                            <li>{{{cards.option}}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>